<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_app_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPM"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".AdminFillInformation"
            android:exported="false" />
        <activity
            android:name=".TeacherAllotSubjectShowing"
            android:exported="false" />
        <activity
            android:name=".TeacherAllotSubject"
            android:exported="false" />
        <activity
            android:name=".AddNewTeacher"
            android:exported="false" />
        <activity
            android:name=".AddNewStudent"
            android:exported="false" />
        <activity
            android:name=".AdminTeacherAttendanceQrCode"
            android:exported="false" />
        <activity
            android:name=".AdminAddNoticeTeacher"
            android:exported="false" />
        <activity
            android:name=".AdminShowComplaintsTeacher"
            android:exported="false" />
        <activity
            android:name=".AdminShowApplicationTeacher"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".TeacherAttendanceQrcode"
            android:exported="false" />
        <activity
            android:name=".QrCodeScanner"
            android:exported="false" />
        <activity
            android:name=".TeacherAddComplaints"
            android:exported="false" />
        <activity
            android:name=".AiChatsTools"
            android:exported="false" />
        <activity
            android:name=".RecentChat"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChatUserList"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="com.google.firebase.auth.internal.RecaptchaActivity" -->
        <!-- tools:remove="android:launchMode" /> -->
        <activity
            android:name=".FullShowStudyMaterials"
            android:exported="false" />
        <activity
            android:name=".AddStudyMaterials"
            android:exported="false" />
        <activity
            android:name=".TeacherAboutSchool"
            android:exported="false" />
        <activity
            android:name=".AddAboutSchool"
            android:exported="false" />
        <activity
            android:name=".StudentAddComplaints"
            android:exported="false" />
        <activity
            android:name=".FullImage"
            android:exported="false" />
        <activity
            android:name=".HomeWorkFull"
            android:exported="false" />
        <activity
            android:name=".TeacherChangePassword"
            android:exported="false" />
        <activity
            android:name=".TeacherTimeTable"
            android:exported="false" />
        <activity
            android:name=".TeacherEvents"
            android:exported="false" />
        <activity
            android:name=".TeacherNotice"
            android:exported="false" />
        <activity
            android:name=".AdminShowApplicationStudent"
            android:exported="false" />
        <activity
            android:name=".UpdateTimeTable"
            android:exported="false" />
        <activity
            android:name=".AdminShowComplaintsStudent"
            android:exported="false" />
        <activity
            android:name=".AdminAddNoticeStudent"
            android:exported="false" />
        <activity
            android:name=".TeacherAddAssignment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".TeacherAddApplication"
            android:exported="false" />
        <activity
            android:name=".TeacherApllication"
            android:exported="false" />
        <activity
            android:name=".TeacherComplaints"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AttendanceMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".TeacherAttendance"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AdministratorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ForgatePassword"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentResult"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentNotice"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".HelpAndSupport"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendFeedback"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ContactUs"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AboutSchool"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AboutUs"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentApplicationShow"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentStudyMaterials"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentAssignment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentEvents"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".TeacherList"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AddVideo"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".VideoMaterials"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentComplents"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ShowStudentHomework"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentList"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GetImage"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Wellcomelogin"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".WellcomeMyschool"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OtpVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MobileVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UserRagistation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentApplication"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentGelary"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentIdcard"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentHomework"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentAttendance"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentTimetable"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentSyllabus"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StudentSubject"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NavigationDrawerTeacher"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Navigation_drawer"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".HomeStudent"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".HomeTeacher"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LogInPage"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>