<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rathaur.gpm">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPM"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".StudentApplicationShow"
            android:exported="false" />
        <activity
            android:name=".StudentStudyMaterials"
            android:exported="false" />
        <activity
            android:name=".StudentAssignment"
            android:exported="false"
            android:label="@string/title_activity_student_assignment"
            android:theme="@style/Theme.GPM.NoActionBar" />
        <activity
            android:name=".StudentNoticeShow"
            android:exported="false" />
        <activity
            android:name=".StudentNotice"
            android:exported="false" />
        <activity
            android:name=".StudentEvents"
            android:exported="false" />
        <activity
            android:name=".TeacherList"
            android:exported="false" />
        <activity
            android:name=".AddVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".VideoMaterials"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentComplents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowStudentHomework"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetImage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wellcomelogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WellcomeMyschool"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MobileVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRagistation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentAddNewStudent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentApplication"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentGelary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentIdcard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentHomework"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentAttendance"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentTimetable"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentSyllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentSubject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawerTeacher"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation_drawer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeStudent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeTeacher"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>